<form action="/upload" method="POST" enctype="multipart/form-data">
    <div>
    <legend>Elige la categoria</legend>
    <br>
    <label><input type="radio" name="categoria" value="Categoria1"/>Categoria 1 </label>
    <br>
    <label><input type="radio" name="categoria" value="Categoria2"/>Categoria 2</label>
    <br>
    <label><input type="radio" name="categoria" value="Categoria1"/>Categoria 3</label>
    <hr>
    </div>
    <br>
    <input type="file" name="archivo">
    <br>
    <br>
    <input type="submit">
   </form>